<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <link rel="stylesheet" href="/styles/booklist.css" />
      <script
         src="https://kit.fontawesome.com/4b607fb1a6.js"
         crossorigin="anonymous"
      ></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>List of books</title>
   </head>
   <body>
      <nav>
         <div class="nav-cont">
            <div class="logo">BOOKPANDA</div>
            <div class="icon">
               <!-- <i class="fa-solid fa-bag-shopping"></i> -->
               <a href="/customer/<%=customerId%>">
                  <i class="fa-solid fa-house"></i>
               </a>
            </div>
            <!-- Need a home button here -->
         </div>
      </nav>
      <div class="list-cont">
         <% if(books.length == 0 || !books) {%>
         <h1>Sorry the seller is not selling any books at the moment</h1>
         <% } else { %> <% for(let book of books) {%>
         <form action="/book-card/<%=book.id%>" method="GET">
            <div class="list">
               <input
                  type="hidden"
                  name="customerId"
                  id="customerId"
                  value="<%=customerId%>"
               />
               <div class="pic">
                  <img
                     src="../images/toa-heftiba-DUXACn8tgp4-unsplash.jpg"
                     alt="misirali"
                  />
               </div>
               <div class="para">Title: <%=book.title%></div>
               <!-- <div class="para">Written by: <%=book.author%></div> -->
               <div class="btn"><button type="submit">View Books</button></div>
            </div>
         </form>
         <% } } %>
      </div>
   </body>
</html>
