<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Book Card</title>
      <link rel="stylesheet" href="/styles/book.css" />
      <script
         src="https://kit.fontawesome.com/4b607fb1a6.js"
         crossorigin="anonymous"
      ></script>
   </head>
   <body>
      <div id="header">
         <a href="/customer/<%=customerId%>" class="back">
            <i class="fa-solid fa-arrow-left"></i>
         </a>
      </div>
      <!-- <div id="content">
         <img class="book-cover" src="/images/bookcover.jpg" alt="Book Cover" />
      </div> -->
      <div id="main-body">
         <p><span>Title :</span> <%= book.title %></p>
         <p><span>Written by :</span> <%= book.author %></p>
         <p><span>Genre :</span> <%= book.category %></p>
         <p><span>Summary :</span> <%= book.summary %></p>
         <p><span>Price:</span> <%= book.price %> Taka</p>
      </div>
      <div>
         <form
            action="/customer/<%=customerId%>/buy"
            method="post"
            style="display: inline"
         >
            <input type="hidden" name="sellerId" value="<%=book.seller_id%>" />
            <button class="bt1">buy</button>
         </form>
         <form
            action="/customer/<%=customerId%>/borrow"
            method="post"
            style="display: inline"
         >
            <input type="hidden" name="sellerId" value="<%=book.seller_id%>" />
            <button class="bt1">borrow</button>
         </form>
      </div>
   </body>
</html>
