<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      <link rel="stylesheet" href="/styles/result.css" />
      <script
         src="https://kit.fontawesome.com/4b607fb1a6.js"
         crossorigin="anonymous"
      ></script>
   </head>
   <body>
      <div class="back_arrow">
         <a href="/customer/<%=customerId%>" class="back">
            <i class="fa-solid fa-arrow-left"></i>
         </a>
      </div>

      <div>
         <h1>Search result:</h1>
         <% if(result.length == 0 || !result) {%>
         <h1>sorry no matched result.</h1>
         <%} else {%> <% for(const item of result) {%>
         <form action="/book/<%=item.id%>>" method="GET">
            <label for="name">Book Name: <%=item.title%></label>
            <label for="author">Author's Name: <%=item.author%></label>
            <label for="catagory">Catagory: <%=item.category%></label>
            <input type="hidden" name="customerId" value="<%=customerId%>" />
            <button>View book</button>
         </form>
         <% } } %>
      </div>
   </body>
</html>
